<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <b>Aide</b>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <span style="text-align: center;margin-top: 150px">
        Pour bénéficier de Nos services<br>
        il faut d'abord commencé par vous  créer un compte sur notre plateforme
    </span>
</ion-content>
<ion-footer style="background-color: whitesmoke" padding>
    <div style="text-align: center">
        <span style="color: grey">© 2019 BabyFood, tous droits reservé</span><br>
        <b style="color: darkgray">By <a href="">Auguinard Kouame</a> & <a href="">Ecole NaN</a></b>
    </div>
</ion-footer>