<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <b>les Légumes</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Les Ignames</ion-card-title>
    </ion-card-header>
    <ion-card>
      <ion-card-content>

        <ion-grid>
          <ion-row>
            <ion-col>
              <div>

                <ion-card class="pln">
                  <ion-img src="/assets/Kponan.jpg"></ion-img>
                  <ion-card-header>
                    <ion-card-title>Kponan</ion-card-title>
                  </ion-card-header>
                </ion-card>
                <ion-card-content>

                </ion-card-content>

              </div>
            </ion-col>
            <ion-col>
              <div>

                <ion-card class="pln">
                  <ion-img src="/assets/lokpa.jpg"></ion-img>
                  <ion-card-header>
                    <ion-card-title>Lokpa</ion-card-title>
                  </ion-card-header>
                </ion-card>
                <ion-card-content>

                </ion-card-content>

              </div>
            </ion-col>
            <ion-col>
              <div>

                <ion-card class="ta">
                  <ion-img src="/assets/plantinmur.jpg"></ion-img>
                  <ion-card-header>
                    <ion-card-title>Banane mûre</ion-card-title>
                  </ion-card-header>
                </ion-card>
                <ion-card-content>

                </ion-card-content>

              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!--ligne 2-->
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>

                <ion-card class="pln">
                  <ion-img src="/assets/plantinaloko.jpg"></ion-img>
                  <ion-card-header>
                    <ion-card-title>Banane aloco</ion-card-title>
                  </ion-card-header>
                </ion-card>
                <ion-card-content>

                </ion-card-content>

              </div>
            </ion-col>
            <ion-col>
              <div>

                <ion-card class="pln">
                  <ion-img src="/assets/plantinnonmur.jpg"></ion-img>
                  <ion-card-header>
                    <ion-card-title>Banane non-mûre</ion-card-title>
                  </ion-card-header>
                </ion-card>
                <ion-card-content>

                </ion-card-content>

              </div>
            </ion-col>
            <ion-col>
              <div>

                <ion-card class="ta">
                  <ion-img src="/assets/plantinmur.jpg"></ion-img>
                  <ion-card-header>
                    <ion-card-title>Banane mûre</ion-card-title>
                  </ion-card-header>
                </ion-card>
                <ion-card-content>

                </ion-card-content>

              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!--ligne 3-->
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>

                <ion-card class="pln">
                  <ion-img src="/assets/plantinaloko.jpg"></ion-img>
                  <ion-card-header>
                    <ion-card-title>Banane aloco</ion-card-title>
                  </ion-card-header>
                </ion-card>
                <ion-card-content>

                </ion-card-content>

              </div>
            </ion-col>
            <ion-col>
              <div>

                <ion-card class="pln">
                  <ion-img src="/assets/plantinnonmur.jpg"></ion-img>
                  <ion-card-header>
                    <ion-card-title>Banane non-mûre</ion-card-title>
                  </ion-card-header>
                </ion-card>
                <ion-card-content>

                </ion-card-content>

              </div>
            </ion-col>
            <ion-col>
              <div>

                <ion-card class="ta">
                  <ion-img src="/assets/plantinmur.jpg"></ion-img>
                  <ion-card-header>
                    <ion-card-title>Banane mûre</ion-card-title>
                  </ion-card-header>
                </ion-card>
                <ion-card-content>

                </ion-card-content>

              </div>
            </ion-col>
          </ion-row>
        </ion-grid>


      </ion-card-content>
    </ion-card>
  </ion-card>

</ion-content>
