<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <b>A propos</b>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button expand="full" (click)="logout()">
                <ion-icon name="log-out" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card padding>
        <p>salut, inscrivez vous maintenant sur notre page a fin de profité de nos services</p>
        <strong>En plus de vous facilité l'accès à vos ingrédients de cuisine, BabyFood vous propos des guide de cousines et  aussi une
            sensibilisation sur l'hygiène alimentaire a fin d'eviter la consommation d'aliments pouvant vous transmettre des maladies...<br>
            cliquez <a href="">ici</a> pour accéder a cette section!
        </strong>
    </ion-card>
</ion-content>
<ion-footer style="background-color: whitesmoke" padding>

</ion-footer>